body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
    text-align: center;
}
.choices {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.choices button {
    font-size: 7.5rem;
    min-width: 140px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: hsl(215, 100%, 50%);
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}
#playerDisplay, #computerDisplay, #resultDisplay {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0;
    color: brown;
}
#resultDisplay {
    font-size: 4rem;
    margin: 30px 0;
}

#scoreDisplay{
    font-size: 3rem;
}

.greenText, #playerScoreDisplay {
    color: hsl(120, 88%, 41%);
}
.redText, #computerScoreDisplay {
    color: hsl(0, 83%, 50%);
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    .choices button {
        font-size: 5rem;
        min-width: 100px;
    }
    #playerDisplay, #computerDisplay, #resultDisplay {
        font-size: 2rem;
    }
    #resultDisplay {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
    .choices button {
        font-size: 4rem;
        min-width: 80px;
    }
    #playerDisplay, #computerDisplay, #resultDisplay {
        font-size: 1.5rem;
    }
    #resultDisplay {
        font-size: 2.5rem;
    }
}
